{% extends "base.html" %}

{% block title %}Licencias{% endblock %}



{% block content_header %}

<div class="row">


    <div class="col-sm-6">


        <h3 class="mb-0">


            <i class="bi bi-calendar-x me-2"></i>


            Licencias



        </h3>


    </div>





    <div class="col-sm-6">


        <ol class="breadcrumb float-sm-end">


            <li class="breadcrumb-item">

                <a href="{% url 'core:index' %}">
                    Inicio
                </a>

            </li>




            <li class="breadcrumb-item active">

                Licencias

            </li>




        </ol>


    </div>


</div>


{% endblock %}









{% block content %}







<div class="row mb-3">


    <div class="col">



        <a href="{% url 'licencias:nuevo' %}" class="btn btn-primary">


            <i class="bi bi-plus-circle"></i>


            Nueva licencia



        </a>



    </div>



</div>









<div class="card">





    <div class="card-header">


        <h5 class="mb-0">


            <i class="bi bi-list-ul me-2"></i>


            Listado de licencias



        </h5>



    </div>







    <div class="card-body">





        <div class="table-responsive">





            <table class="table table-hover align-middle">





                <thead class="table-light">


                    <tr>


                        <th>
                            Docente
                        </th>


                        <th>
                            Tipo
                        </th>


                        <th>
                            Desde
                        </th>


                        <th>
                            Hasta
                        </th>


                        <th>
                            Estado
                        </th>


                        <th class="text-center">
                            Acciones
                        </th>



                    </tr>



                </thead>









                <tbody>






                    <tr>



                        <td>


                            <i class="bi bi-person-circle text-primary me-2"></i>


                            Ana Martínez



                        </td>





                        <td>


                            Licencia médica



                        </td>





                        <td>


                            04/08/2026



                        </td>





                        <td>


                            10/08/2026



                        </td>





                        <td>



                            <span class="badge text-bg-success">


                                Aprobada


                            </span>



                        </td>









                        <td class="text-center">





                            <a 
                                href="#"
                                class="btn btn-sm btn-info"
                            >


                                <i class="bi bi-eye"></i>



                            </a>







                            <a 
                                href="#"
                                class="btn btn-sm btn-warning"
                            >


                                <i class="bi bi-pencil"></i>



                            </a>







                            <button 
                                class="btn btn-sm btn-danger"
                            >


                                <i class="bi bi-trash"></i>



                            </button>






                        </td>






                    </tr>









                    <tr>



                        <td>


                            <i class="bi bi-person-circle text-primary me-2"></i>


                            Carlos López



                        </td>





                        <td>


                            Licencia por estudio



                        </td>





                        <td>


                            15/08/2026



                        </td>





                        <td>


                            18/08/2026



                        </td>





                        <td>



                            <span class="badge text-bg-warning">


                                Pendiente


                            </span>



                        </td>









                        <td class="text-center">





                            <a 
                                href="#"
                                class="btn btn-sm info"
                            >


                                <i class="bi bi-eye"></i>



                            </a>







                            <a 
                                href="#"
                                class="btn btn-sm btn-warning"
                            >


                                <i class="bi bi-pencil"></i>



                            </a>







                            <button 
                                class="btn btn-sm btn-danger"
                            >


                                <i class="bi bi-trash"></i>



                            </button>






                        </td>






                    </tr>






                </tbody>






            </table>






        </div>





    </div>







</div>







{% endblock %}