{% extends "base.html" %}

{% block title %}Concursos{% endblock %}



{% block content_header %}

<div class="row">


    <div class="col-sm-6">


        <h3 class="mb-0">


            <i class="bi bi-trophy me-2"></i>


            Concursos



        </h3>


    </div>





    <div class="col-sm-6">


        <ol class="breadcrumb float-sm-end">


            <li class="breadcrumb-item">

                <a href="{% url 'core:index' %}">
                    Inicio
                </a>

            </li>




            <li class="breadcrumb-item active">

                Concursos

            </li>




        </ol>


    </div>


</div>


{% endblock %}









{% block content %}







<div class="row mb-3">


    <div class="col">



        <a href="{% url 'concursos:nuevo' %}" class="btn btn-primary">


            <i class="bi bi-plus-circle"></i>


            Nuevo concurso



        </a>



    </div>



</div>









<div class="card">





    <div class="card-header">


        <h5 class="mb-0">


            <i class="bi bi-list-ul me-2"></i>


            Listado de concursos



        </h5>



    </div>







    <div class="card-body">





        <div class="table-responsive">





            <table class="table table-hover align-middle">





                <thead class="table-light">


                    <tr>


                        <th>
                            Cargo
                        </th>


                        <th>
                            Horas
                        </th>


                        <th>
                            Estado
                        </th>


                        <th>
                            Fecha
                        </th>


                        <th class="text-center">
                            Acciones
                        </th>



                    </tr>



                </thead>









                <tbody>






                    <tr>



                        <td>


                            <i class="bi bi-briefcase text-primary me-2"></i>


                            Profesor de Matemática



                        </td>





                        <td>


                            20 hs



                        </td>





                        <td>



                            <span class="badge text-bg-success">


                                Abierto


                            </span>



                        </td>






                        <td>


                            04/08/2026



                        </td>









                        <td class="text-center">





                            <a 
                                href="#"
                                class="btn btn-sm btn-info"
                            >


                                <i class="bi bi-eye"></i>



                            </a>







                            <a 
                                href="#"
                                class="btn btn-sm btn-warning"
                            >


                                <i class="bi bi-pencil"></i>



                            </a>







                            <button 
                                class="btn btn-sm btn-danger"
                            >


                                <i class="bi bi-trash"></i>



                            </button>






                        </td>






                    </tr>









                    <tr>



                        <td>


                            <i class="bi bi-briefcase text-primary me-2"></i>


                            Auxiliar Administrativo



                        </td>





                        <td>


                            15 hs



                        </td>





                        <td>



                            <span class="badge text-bg-secondary">


                                Cerrado


                            </span>



                        </td>






                        <td>


                            28/07/2026



                        </td>









                        <td class="text-center">





                            <a 
                                href="#"
                                class="btn btn-sm btn-info"
                            >


                                <i class="bi bi-eye"></i>



                            </a>







                            <a 
                                href="#"
                                class="btn btn-sm btn-warning"
                            >


                                <i class="bi bi-pencil"></i>



                            </a>







                            <button 
                                class="btn btn-sm btn-danger"
                            >


                                <i class="bi bi-trash"></i>



                            </button>






                        </td>






                    </tr>






                </tbody>






            </table>






        </div>





    </div>







</div>







{% endblock %}