{% extends "base.html" %}

{% block title %}Editar concurso{% endblock %}



{% block content_header %}

<div class="row">


    <div class="col-sm-6">


        <h3 class="mb-0">


            <i class="bi bi-pencil-square me-2"></i>


            Editar concurso



        </h3>


    </div>





    <div class="col-sm-6">


        <ol class="breadcrumb float-sm-end">


            <li class="breadcrumb-item">

                <a href="{% url 'core:index' %}">
                    Inicio
                </a>

            </li>




            <li class="breadcrumb-item">

                <a href="{% url 'concursos:lista' %}">
                    Concursos
                </a>

            </li>




            <li class="breadcrumb-item active">

                Editar

            </li>




        </ol>


    </div>


</div>


{% endblock %}









{% block content %}







<div class="row">



    <div class="col-md-8">





        <div class="card">





            <div class="card-header">


                <h5 class="mb-0">


                    <i class="bi bi-trophy me-2"></i>


                    Editar información del concurso



                </h5>



            </div>







            <div class="card-body">





                <form>







                    <!-- Cargo -->

                    <div class="mb-3">


                        <label class="form-label">


                            Cargo


                        </label>




                        <input 
                            type="text"
                            class="form-control"
                            value="Profesor de Matemática"
                        >



                    </div>









                    <!-- Horas -->

                    <div class="mb-3">


                        <label class="form-label">


                            Cantidad de horas


                        </label>




                        <input 
                            type="number"
                            class="form-control"
                            value="20"
                        >



                    </div>









                    <!-- Estado -->

                    <div class="mb-3">


                        <label class="form-label">


                            Estado


                        </label>




                        <select class="form-select">


                            <option selected>


                                Abierto


                            </option>


                            <option>


                                Cerrado


                            </option>



                        </select>



                    </div>









                    <!-- Fecha -->

                    <div class="mb-3">


                        <label class="form-label">


                            Fecha


                        </label>




                        <input 
                            type="date"
                            class="form-control"
                            value="2026-08-04"
                        >



                    </div>









                    <div class="d-flex justify-content-between">





                        <a 
                            href="{% url 'concursos:lista' %}" 
                            class="btn btn-secondary"
                        >


                            <i class="bi bi-arrow-left"></i>


                            Cancelar



                        </a>







                        <button 
                            type="submit"
                            class="btn btn-primary"
                        >


                            <i class="bi bi-save"></i>


                            Guardar cambios



                        </button>






                    </div>








                </form>






            </div>







        </div>







    </div>





</div>








{% endblock %}