<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light"
      th:fragment="layout(titulo, encabezado, contenido)">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${titulo + ' | Gestión de Concursos Docentes'}">
    Gestión de Concursos Docentes
  </title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/styles/overlayscrollbars.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/adminlte/css/adminlte.min.css}">
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
  <div class="app-wrapper">
    <div th:replace="~{includes/navbar :: navbar}"></div>
    <div th:replace="~{includes/sidebar :: sidebar}"></div>

    <main class="app-main">
      <div class="app-content-header container-fluid">
        <div th:replace="${encabezado}"></div>
      </div>
      <div class="app-content container-fluid">
        <div th:replace="${contenido}"></div>
      </div>
    </main>

    <div th:replace="~{includes/footer :: footer}"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/browser/overlayscrollbars.browser.es6.min.js"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
          crossorigin="anonymous"></script>
  <script th:src="@{/adminlte/js/adminlte.min.js}"></script>
</body>
</html>
