{% extends "base.html" %}

{% block title %}Nueva designación{% endblock %}



{% block content_header %}

<div class="row">


    <div class="col-sm-6">

        <h3 class="mb-0">

            <i class="bi bi-person-plus me-2"></i>

            Nueva designación

        </h3>

    </div>




    <div class="col-sm-6">


        <ol class="breadcrumb float-sm-end">


            <li class="breadcrumb-item">

                <a href="{% url 'core:index' %}">
                    Inicio
                </a>

            </li>



            <li class="breadcrumb-item">

                <a href="{% url 'designaciones:lista' %}">
                    Designaciones
                </a>

            </li>




            <li class="breadcrumb-item active">

                Nueva

            </li>



        </ol>


    </div>


</div>


{% endblock %}








{% block content %}






<div class="row mb-3">


    <div class="col">



        <a href="{% url 'designaciones:lista' %}" class="btn btn-secondary">


            <i class="bi bi-arrow-left"></i>


            Volver



        </a>




    </div>



</div>








<div class="row justify-content-center">





    <div class="col-lg-8">





        <div class="card">





            <div class="card-header">



                <h5 class="mb-0">


                    <i class="bi bi-person-workspace me-2"></i>


                    Datos de la designación



                </h5>



            </div>







            <div class="card-body">





                <form>





                    <div class="row">





                        <div class="col-md-6 mb-3">


                            <label class="form-label">

                                Docente

                            </label>




                            <select class="form-select">


                                <option selected disabled>

                                    Seleccionar docente

                                </option>



                                <option>

                                    María González

                                </option>



                                <option>

                                    Juan Pérez

                                </option>



                                <option>

                                    Ana Rodríguez

                                </option>



                            </select>



                        </div>







                        <div class="col-md-6 mb-3">


                            <label class="form-label">

                                Cargo

                            </label>




                            <select class="form-select">


                                <option selected disabled>

                                    Seleccionar cargo

                                </option>



                                <option>

                                    Profesor titular

                                </option>




                                <option>

                                    Profesor suplente

                                </option>




                                <option>

                                    Auxiliar docente

                                </option>




                            </select>




                        </div>





                    </div>









                    <div class="row">





                        <div class="col-md-6 mb-3">


                            <label class="form-label">

                                Curso

                            </label>




                            <select class="form-select">


                                <option selected disabled>

                                    Seleccionar curso

                                </option>



                                <option>

                                    1° A

                                </option>




                                <option>

                                    2° B

                                </option>




                                <option>

                                    3° A

                                </option>




                                <option>

                                    5° B

                                </option>




                            </select>




                        </div>







                        <div class="col-md-6 mb-3">


                            <label class="form-label">

                                Horas semanales

                            </label>




                            <input
                                type="number"
                                class="form-control"
                                placeholder="Cantidad de horas"
                            >




                        </div>





                    </div>









                    <div class="row">





                        <div class="col-md-6 mb-3">


                            <label class="form-label">

                                Estado

                            </label>




                            <select class="form-select">



                                <option selected>

                                    Activa

                                </option>




                                <option>

                                    Suspendida

                                </option>




                                <option>

                                    Finalizada

                                </option>




                            </select>




                        </div>





                    </div>









                    <div class="text-end mt-3">





                        <button 
                            type="button"
                            class="btn btn-secondary"
                        >



                            <i class="bi bi-x-circle"></i>


                            Cancelar



                        </button>







                        <button 
                            type="submit"
                            class="btn btn-success"
                        >



                            <i class="bi bi-check-circle"></i>


                            Crear designación



                        </button>





                    </div>







                </form>






            </div>





        </div>






    </div>





</div>






{% endblock %}